{% extends 'main.html' %}

{% load static %}

{% block content %}

	{% include 'column1.html' %}
	<div class="col-xl-8 pt-4 border">
		<div class="container pb-3 mb-3"  style="max-width: 700px;">
			{% if messages %}
			<div class="messages">
				{% for message in messages %}
				<p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</p>
				{% endfor %}
			</div>
			{% endif %}	
			<div class="card bg-success text-white text-center rounded-0">
				<span class="fs-5 p-1">Update Profile</span>
			</div>
			<div class="card container bg-light pb-3 rounded-0">
				<form id="create_form" method="post" action="" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="container">
					{{ form.as_p }}
				</div>
				<div class="text-center">
					<button class="btn btn-success">Update Profile</button>
				</div>
				</form>
			</div>
		</div>
	</div>
	{% include 'column2.html' %}	
{% endblock %}