{% include 'header.html'%}
{% load static %}
<link rel='stylesheet' href='{% static "css/create.css" %}'>
		<div class="content">
			<table style="width: 100%;border-spacing: 0px;min-height: 100%;">
				<tr>
			<td style="width:100%; float: left;">
				<div class="heading">
					<div class="tab">
						<p>Ask a Question</p>	
					</div>
				</div>

			<div class="welcome">
				<div class="tab">
					<p>&nbsp</p>
				</div>
			</div>


			{% if messages %}
			<div class="messages">
			    {% for message in messages %}
			    <p{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</p>
			    {% endfor %}
			</div>
			{% endif %}

			<div id="tab1" class="tabcontent">
				<form method="POST" action="" enctype='multipart/form-data'>
				{% csrf_token %}
				{{ form.as_p }}
				<input type="submit" value='Update' class="btn btn-success btn-lg"/>
				</form>
			</div>


		</td>
		{% include 'footer.html'%}
		